 <div class="container">
  <div class="row">
   <div class="mx-auto mb-5">
     <h1>Welcome to<i class="fa-solid fa-book" style="color: #000005;"></i> <strong>bookers!!</strong></h1>
   </div>
  </div>
 </div>